.accordion{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex-wrap: wrap;
}

.accordionItem{
    border: none;
}

.accordionTrigger{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    font-weight: 600;
    font-size: 1.125rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.6rem;
    padding: 0.6rem 1rem;
}

.accordionTrigger.activeItem{
    color: var(--color-dark-cyan);
    background-color: var(--color-light-green);
}

.activeSubItem{
    color: white;
}

.accordionTrigger:hover{
    text-decoration-line: none;
    color: var(--color-dark-cyan);
    background-color: var(--color-light-green);
}

.accordionTrigger > svg:last-child {
    display: none;
}

.accordionContent{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-wrap: balance;
    margin-left: 2rem;
    margin-top: 0.5rem;
    padding: 0rem 0.5rem;
    color: var(--color-dark-gray);
    border-left: 4px solid var(--color-dark-cyan);
    border-radius: 0.2rem;
}

.subSectionItem{
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.6rem;
    padding: 0.6rem 1rem;
}

.subSectionItem:hover{
    text-decoration-line: none;
    color: var(--color-dark-cyan);
    background-color: var(--color-light-green);
}

@media (max-width: 768px) {
    .accordion {
        flex-direction: row;
    }
    .accordionTrigger {
        font-size: 1rem;
        gap: 0.2rem;
        padding: 0.5rem 0.2rem;
        flex-direction: column;
        font-size: small;
    }

    .accordionContent {
        margin-left: 0.2rem;
        padding: 0rem;
    }

    .subSectionItem {
        gap: 0.3rem;
        font-size: small;
        padding: 0.5rem 0.5rem;
    }
}